html,
body {
  height: 100%;
}

header {
  background: #e3f2fd;
}

a {
  color: #337ab7 !important;
}

.dropdown-item {
  color: #515151 !important;
}

.dropdown-item:focus {
  background-color: #f8f9fa;
}
